@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;600;700&display=swap');
body {
   font-family: 'Pixelify Sans';
}

nav {
  background-image: linear-gradient(#cc0000,#edf6f9);
}

main {
  background-image: linear-gradient(#000000,#bcbcbc);
}

.logo-img {
  max-width: 40%;
  margin: 0 auto;
}

.my-btn {
  border: none;
  color: #000000;
  background-color: #cc0000;
  padding: 10px 15px;
  margin: 5px auto;
  border-radius: 5px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 22px;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 170px;
}

.btn:hover {
  opacity: 0.8;
  color: #ffff;
  background-color: #3564ae;
  
}

.btn-modal-close {
  border: none;
  color: #ffff;
  background-color: #000000;
  border-radius: 5px;
  padding: 5px 10px;
}

.modal {
  margin: 0;
  --bs-modal-footer-border-color: none;
  --bs-modal-header-border-color: none;
}

.modal-body {
  margin-top: 20px;
 
}

.modal-text {
  margin-left: 50px;
  font-size: 22px;
}

.modal-img { 
  float: right;
  margin-top: 0;
  margin-right: 50px;
  width: 200px;
} 

.modal-title {
  text-transform: capitalize;
  margin: 0 auto;
  text-align: center;
  font-size: 34px;
  font-weight: 600;
  color: #000000;
}